/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#btn_info {
    width: 100px;
    height: 30px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

    #btn_info:hover {
        width: 100px;
        height: 30px;
        background-color: lightblue;
        color: black;
        font-weight: bold;
        -webkit-transition: background-color 1s, color 1s;
        -moz-transition: background-color 1s, color 1s;
        -ms-transition: background-color 1s, color 1s;
        -o-transition: background-color 1s, color 1s;
        transition: background-color 1s, color 1s;
    }

#btn_danger {
    width: 100px;
    height: 30px;
    background-color: darkred;
    color: white;
    font-weight: bold;
}

    #btn_danger:hover {
        width: 100px;
        height: 30px;
        background-color: lightcoral;
        color: black;
        font-weight: bold;
        -webkit-transition: background-color 1s, color 1s;
        -moz-transition: background-color 1s, color 1s;
        -ms-transition: background-color 1s, color 1s;
        -o-transition: background-color 1s, color 1s;
        transition: background-color 1s, color 1s;
    }

#btn_success {
    width: 100px;
    height: 30px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}

    #btn_success:hover {
        width: 100px;
        height: 30px;
        background-color: lightgreen;
        color: black;
        font-weight: bold;
        -webkit-transition: background-color 1s, color 1s;
        -moz-transition: background-color 1s, color 1s;
        -ms-transition: background-color 1s, color 1s;
        -o-transition: background-color 1s, color 1s;
        transition: background-color 1s, color 1s;
    }

table, thead {
    width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

tr:hover{
    background-color: lightgray;
}